<%= link_to "#", "data-toggle" => "modal", "data-target"=>"#editModal--effect-zoomIn", :title => "Rename list", class: "btn btn-xs" do %>
  <span class="glyphicon glyphicon-pencil"></span>
<% end %>

<div id="editModal--effect-zoomIn" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <div class="modal_div_footer">
          
        </div>
        
      </div>
    </div>
  </div>
</div>