<h1 align="center">Welcome <%= current_user.username %></h1>

<div class="row">
  <% @lists.each do |list| %>
    <div class="col-sm-6 col-md-2">
      <div class="well well-lg">
        <div class="show_list">
          <%= list.name %>
        </div>
      </div>
    </div>
  <% end %>
</div>