<h1 align="center">Welcome <%= current_user.username %></h1>

<div class="row">
  <% @lists.visible.each do |list| %>
    <div class="col-sm-6 col-md-2">
      <div class="list_div">
        <%= list.name %>
      </div>
    </div>
  <% end %>
</div>