<div class="jumbotron">
  <h1>Skroutz Lists</h1>
</div>
<div class="center">
  <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg btn-lg" %>
  <%= link_to "Log in", login_path , class: "btn btn-primary btn-lg btn-lg" %>
</div>