@import "bootstrap-sprockets";
@import "bootstrap";

.thumbnail_left {
  background-image: asset-url("background_home.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 388px;
}

.center {
  text-align: center;
}

.display_msg {
  position: absolute;
  top: 0px;
  left: 30%;
  right: 30%;
  z-index: 105; 
}